* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto";
  color: #514d67;
  background-color: #e5e5e5;
}
/* Navbar mobile */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: #514d67;
  height: 50px;
  padding: 1em;
}
.logo {
  color: #072ac8;
  font-size: 30px;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 40px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #514d67;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.menu-button::before {
  content: "";
  margin-top: -8px;
}
.menu-button::after {
  content: "";
  margin-top: 8px;
}
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
#menu-toggle:checked + .menu-button-container .menu-button {
  background: #e5e5e5;
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 70px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    background-color: #e5e5e5;
  }
  .nav-btn {
    background-color: #072ac8;
    width: 50%;
    text-align: center;
    color: #e5e5e5;
    padding: 12px 36px;
    text-decoration: none;
    border: none;
  }
}

/* Section 1 mobile */
.section1 {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 50px 60px;
}
.section1-text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 35px;
  align-items: center;
}
.section1-text > h1 {
  font-size: 42px;
}
.section1-btns > a {
  text-decoration: none;
}
.section1-img {
  display: none;
}

/* Section 2 mobile */
.section2 {
  flex-wrap: wrap;
  gap: 10px;
  width: 90%;
  height: auto;
  margin: 30px 20px;
}
.section2 > img {
  margin: 15px;
}

/* Section 3 mobile */
.section3 {
  display: flex;
  flex-direction: column;
  margin: 60px 30px;
  height: auto;
}
.section3 > h2 {
  font-size: 30px;
}
.projects-cards {
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  height: auto;
  margin-top: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 300px;
  background-color: #fff;
  margin: 15px;
}
.card > img {
  width: 300px;
  height: 300px;
}
.card-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px;
  gap: 15px;
}
.card-text > h3 {
  font-size: 25px;
}
.card-text > a {
  text-decoration: none;
  color: #072ac8;
}

/* Section 4 mobile*/
.section4 {
  display: none;
}

/* Section 5 mobile*/
.services-card {
  display: flex;
  flex-direction: column;
  height: 320px;
  width: 280px;
  background-color: #fff;
  margin: 15px;
  padding: 10px;
  gap: 15px;
}
.services-card > img {
  width: 40px;
  height: 40px;
  margin-top: 30px;
  margin-left: 30px;
  background-color: #d1edff;
  border-radius: 30%;
  padding: 15px;
}

/* Section 6 mobile*/
.section6 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffc600;
  height: 250px;
  width: 90%;
  margin: 30px 25px;
}
.section6 > h3 {
  font-size: 25px;
}
.section6 > form {
  width: 60%;
  height: 30%;
}
.email-form > input[type="email"] {
  background-image: url("./images/newsletter/icon/mail.svg");
  background-repeat: no-repeat;
  background-position: 10px;
  padding-left: 40px;
  width: 140px;
  height: 50px;
}
.email-form > input[type="button"] {
  background-color: #072ac8;
  color: #ffffff;
  height: 50px;
  width: 100px;
  border: none;
}

/* Footer mobile */
.footer {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 60px 30px 50px 30px;
  width: 90%;
  height: 150px;
  gap: 20px;
}
.footer-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 30px;
  gap: 20px;
}
.footer-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 30px;
  gap: 20px;
}
.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

/* Project Page Mobile */
.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin: 40px 30px;
}
.project > h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.project > img {
  height: 250px;
  width: 100%;
  margin: 30px 0;
  box-shadow: 5px 5px 20px;
}
.project > p {
  width: 100%;
  margin-top: 20px;
}
.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  width: 100%;
}

/* Contact */
.contact {
  height: auto;
  justify-self: center;
  margin: 30px 100px;
}
.contact > h2 {
  font-size: 30px;
  margin-bottom: 30px;
}
.contact-form {
  display: grid;
  grid-template-areas:
    "name name"
    "email phone"
    "message message"
    "submit submit";
  gap: 20px;
}
.name-div {
  grid-area: name;
  font-size: 18px;
}
.email-div {
  grid-area: email;
  font-size: 18px;
}
.phone-div {
  grid-area: phone;
  font-size: 18px;
}
.message-div {
  grid-area: message;
  font-size: 18px;
}
.name-div > input[type="text"] {
  height: 40px;
  width: 100%;
  margin-top: 10px;
  padding-left: 10px;
}
.email-div > input[type="email"] {
  height: 40px;
  width: 100%;
  margin-top: 10px;
  padding-left: 10px;
}
.phone-div > input[type="number"] {
  height: 40px;
  width: 100%;
  margin-top: 10px;
  padding-left: 10px;
}
.message-div > textarea {
  width: 100%;
  height: 80px;
  margin-top: 10px;
  padding: 10px;
}
.contact-form > input[type="submit"] {
  background-color: #072ac8;
  color: #ffffff;
  height: 50px;
  width: 100%;
  border: none;
  grid-area: submit;
}

/* DESKTOP */
@media (min-width: 700px) {
  /* Navbar */
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 120px;
  }

  .logo {
    color: #072ac8;
    font-size: 60px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    list-style-type: none;
    gap: 20px;
    font-size: 20px;
  }

  .nav-btn {
    color: #e5e5e5;
    background-color: #072ac8;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    text-decoration: none;
    border: none;
  }

  /* Section 1 */
  .section1 {
    display: flex;
    flex-direction: row;
    height: 630px;
  }
  .section1-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    gap: 80px;
  }
  .section1-text > h1 {
    font-size: 50px;
  }
  .section1-btns > a {
    text-decoration: none;
    margin-right: 40px;
  }
  .section1-img {
    display: block;
    background-image: url("./images/hero-section/hero-image.png");
    background-size: cover;
    width: 50%;
    height: 630px;
  }
  .section1-img > .img1 {
    position: relative;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
  }
  .section1-img > .img2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 150px;
  }

  /* Section 2 */
  .section2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
    height: auto;
    width: 100%;
    margin: 120px 10px;
  }

  /* Section 3 */
  .section3 {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .section3 > h2 {
    font-size: 40px;
    margin-left: 50px;
  }
  .projects-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    gap: 20px;
  }
  .card {
    display: flex;
    flex-direction: column;
    height: 520px;
    width: 310px;
    gap: 20px;
    background-color: #fff;
  }
  .card > img {
    width: 310px;
    height: 300px;
  }
  .card-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
    padding: 15px;
    gap: 15px;
  }
  .card-text > h3 {
    font-size: 30px;
  }
  .card-text > a {
    text-decoration: none;
    color: #072ac8;
  }

  /* Section 4 */
  .section4 {
    display: block;
    position: relative;
    background-color: #292e47;
    height: 600px;
    margin: 60px;
    background-image: url(./images/testimonial-section/orbit.png);
    background-size: cover;
  }
  .section4 > img {
    width: 130px;
    height: 130px;
  }
  .section4 > img:first-child {
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px;
  }
  .section4 > img:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    padding: 50px;
  }
  .section4 > img:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 50px;
  }
  .section4 > img:nth-child(4) {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 50px;
  }
  .section4-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    padding: 100px 80px;
  }
  .section4-text > h3 {
    color: #f2f4fc;
    font-size: 40px;
  }
  .section4-text > p {
    color: #ffc600;
    font-size: 24px;
  }
  .section4-client {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .section4-client > div > p:first-child {
    color: #a2d6f9;
    font-size: 17px;
  }
  .section4-client > div > p:last-child {
    color: #f4f6fc;
    font-size: 13px;
  }
  .section4-client > img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  /* Section 5 */
  .services-card {
    display: flex;
    flex-direction: column;
    height: 380px;
    width: 300px;
    background-color: #fff;
    margin: 15px;
    gap: 25px;
  }
  .services-card > img {
    width: 60px;
    height: 60px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 40%;
    padding: 20px;
  }

  /* Section 6 */
  .section6 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffc600;
    height: 300px;
    margin: 50px 70px;
  }
  .section6 > h3 {
    font-size: 40px;
  }
  .section6 > form {
    width: 50%;
    height: 30%;
  }
  .email-form > input[type="email"] {
    background-image: url("./images/newsletter/icon/mail.svg");
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 60px;
    width: 240px;
    height: 50px;
  }
  .email-form > input[type="button"] {
    background-color: #072ac8;
    color: #ffffff;
    height: 50px;
    width: 150px;
    border: none;
  }

  /* Footer */
  .footer {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 80px 30px 50px 30px;
    width: 90%;
    height: 250px;
    gap: 20px;
  }
  .footer-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
    font-size: 20px;
    gap: 50px;
  }
  .footer-1 > img {
    width: 90px;
  }
  .footer-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
    gap: 50px;
  }
  .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    gap: 30px;
  }

  /* Project Page */
  .project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin: 50px 40px;
  }
  .project > h2 {
    font-size: 50px;
    margin-bottom: 30px;
  }
  .project > img {
    height: 450px;
    width: 100%;
    margin: 30px 0;
    box-shadow: 5px 5px 30px;
  }
  .project > p {
    width: 100%;
    margin-top: 20px;
  }
  .description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    width: 100%;
  }

  /* Contact */
  .contact {
    height: auto;
    justify-self: center;
    margin: 50px 100px;
  }
  .contact > h2 {
    font-size: 35px;
    margin-bottom: 30px;
  }
  .contact-form {
    display: grid;
    grid-template-areas:
      "name name"
      "email phone"
      "message message"
      "submit submit";
    gap: 30px;
  }
  .name-div {
    grid-area: name;
    font-size: 20px;
  }
  .email-div {
    grid-area: email;
    font-size: 20px;
  }
  .phone-div {
    grid-area: phone;
    font-size: 20px;
  }
  .message-div {
    grid-area: message;
    font-size: 20px;
  }
  .name-div > input[type="text"] {
    height: 40px;
    width: 100%;
    margin-top: 10px;
    padding-left: 10px;
  }
  .email-div > input[type="email"] {
    height: 40px;
    width: 100%;
    margin-top: 10px;
    padding-left: 10px;
  }
  .phone-div > input[type="number"] {
    height: 40px;
    width: 100%;
    margin-top: 10px;
    padding-left: 10px;
  }
  .message-div > textarea {
    width: 100%;
    height: 80px;
    margin-top: 10px;
    padding: 10px;
  }
  .contact-form > input[type="submit"] {
    background-color: #072ac8;
    color: #ffffff;
    height: 50px;
    width: 100%;
    font-size: 20px;
    border: none;
    grid-area: submit;
  }
}
